.UsernamePrompt .prompt-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.UsernamePrompt .prompt-header {
    background-color: #EEB711;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
}

.UsernamePrompt .prompt-header h2 {
    margin: 0;
}

.UsernamePrompt .prompt-body {
    background-color: white;
    padding: 50px;
}

.UsernamePrompt .prompt-cancel-button {
    background: none;
    border: none;
    color: white;
    vertical-align: middle;
}

.UsernamePrompt .prompt-cancel-button:focus, .UsernamePrompt .prompt-create-button:focus {
    outline: none;
}

.UsernamePrompt .prompt-create-button {
    border: none;
    color: white;
    padding: 10px 20px;
}

.UsernamePrompt .prompt-create-button:active {
    color: #222222;
}