.Cover {
    min-height: 600px;
}

.GamesPanel {
    min-height: 600px;
}

.UsernamePrompt {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Desktop */
@media only screen and (min-width: 800px) {
    
    /* Cover and GamesPanel take half screen, full height */
    .Cover {
        height: 100vh;
        float: left;
        width: 50%;
    }

    .GamesPanel {
        height: 100vh;
        float: left;
        clear: right;
        width: 50%;
    }

}