.ChatContent {
    background-color: #666666;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
}

.ChatContent .chat-wrapper {
    height: 100%;
    padding: 20px 0;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ChatContent .chat-wrapper > :first-child {
    margin-top: auto !important;
}

.ChatContent .ChatMessage {
    align-self: stretch;
    margin: 20px 20px;
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
    position: relative;
}

.ChatContent .ChatMessage:after {
    content: '';
    border: 20px solid transparent;
    position: absolute;
    bottom: -20px;
}

.ChatContent .ChatMessage .chat-username {
    font-weight: bold;
    margin-bottom: 5px;
}

.ChatContent .ChatMessage.own {
    background-color: #FFEDB0;
}

.ChatContent .ChatMessage.own:after {
    border-right: 20px solid #FFEDB0;
    right: 0
}

.ChatContent .ChatMessage.other {
    background-color: #D9D9D9;
}

.ChatContent .ChatMessage.other:after {
    border-left: 20px solid #D9D9D9;
    left: 0
}

.ChatContent .ChatMessage * {
    display: block;
}