.Game {
    height: 100%;
}

.Lobby, .GameScreen {
    height: 100%;
}

.Chat {
    height: 100%;
}

.InfoBox {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Desktop */
@media only screen and (min-width: 800px) {
    
    .Lobby, .GameScreen {
        min-height: 600px;
        height: 100%;
        float: left;
        width: 75%;
    }

    .Chat {
        min-height: 600px;
        height: 100%;
        float: left;
        clear: right;
        width: 25%;
    }

    .InfoBox {
        max-width: 50%;
    }

}