.Card {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.Card img {
    display: block;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}