.KingCupCardPrompt {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.KingCupCardPrompt .prompt-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.KingCupCardPrompt .prompt-content img {
    max-height: 30vh;
}

.KingCupCardPrompt .card-name {
    font-weight: bold;
    font-size: 24px;
}

.KingCupCardPrompt .card-description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.KingCupCardPrompt .ready-description {
    font-size: 10px;
}

.KingCupCardPrompt .prompt-content button {
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    width: 200px;
    background-color: #777777;
}

.KingCupCardPrompt .prompt-content button:active {
    border: none;
    color: black;
}