.KingCupCardPrompt {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.KingCupCardPrompt .prompt-content .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
}

.KingCupCardPrompt .prompt-content .card img {
    max-height: 30vh;
}

.KingCupCardPrompt .card-name {
    font-weight: bold;
    font-size: 24px;
}

.KingCupCardPrompt .card-description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.KingCupCardPrompt .ready-description {
    font-size: 10px;
}

.KingCupCardPrompt .prompt-content .card button {
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    width: 200px;
    background-color: #777777;
}

.KingCupCardPrompt .prompt-content .card button:active {
    border: none;
    color: black;
}

.KingCupCardPrompt .prompt-body {
    padding: 0!important;
}

.KingCupCardPrompt .order {
    background-color: #cccccc;
}

.KingCupCardPrompt .order h2 {
    margin: 20px 20px;
    text-align: center;
}

.KingCupCardPrompt .order p {
    margin: 10px;
}
